@import '../../styles/main.scss';

.projectCard {
  border: solid 2px $colorLight;
  margin: 1rem;
  padding: .5rem;
  border-radius: .25rem;
  @include xs {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
    &:hover {
      .cardText {
        display: flex;
      }
    }
  }
  @include sm {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
}

.cardImage {
  border-radius: .25rem;
  @include xs {
    width: 100%;
  }
  @include sm {
    width: 45%;
    margin-right: 2rem;
  }
}

.cardText {
  & h3 {
    font-family: $fontFancy;
    color: $colorDark;
    font-size: 2rem;
  }
  & p {
    font-family: $fontContent;
    color: $colorDark;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include xs {
    height: stretch;
    width: auto;
    padding: 1rem;
    opacity: 0;
    background-color: $colorLight;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms ease-out;
    &:hover {
      opacity: 1;
    }
  }
  @include sm {
    margin-right: auto;
    justify-content: flex-end;
    & * {
      margin-top: 1rem;
    }
  }
}

.mediaList {
  font-family: $fontFancy;
  color: $colorDark;
  width: 100%;
  & li {
    width: 25%;
    font-family: $fontContent;
    margin: 0;
  }
}

.cardLinks {
  display: flex;
  justify-content: flex-start;
}

.cardLink {
  color: $colorDark;
  font-family: $fontFancy;
  padding: .75rem 1rem;
  background-color: $colorMLight;
  border-radius: .5rem;
  margin-right: auto;
  @include xs {
  }
}
