@use '../../styles/main.scss' as styles;

.project-card {
  border: solid 2px styles.$colorLight;
  margin: 0 1rem 1rem 1rem;
  padding: .5rem;
  border-radius: .25rem;
  height: auto;
  background: styles.$colorLight;
  box-shadow: 0 0 7px 1px rgba(0,0,0,0.4);
  @include styles.xs {
    position: relative;
    display: block;
    overflow: hidden;
  }
  @include styles.sm {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  @include styles.md {
    position: relative;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    overflow: hidden;
    // width: 40%;
    width: calc(50% - 4.5rem);
    margin: 0 0 1rem 0;
    // &:hover {
    //   .cardText {
    //     display: flex;
    //   }
    // }
  }
}

.card-image {
  border-radius: .25rem;
  margin-bottom: auto;
  @include styles.xs {
    width: 100%;
  }
  @include styles.sm {
    width: 45%;
    margin-right: 2rem;
  }
  @include styles.md {
    // max-width: 18rem;
    // max-height: 17rem;
    width: auto;
    height: 16rem;
    margin: auto;
  }
}

.card-text {
  & h3 {
    font-family: styles.$fontFancy;
    color: styles.$colorDark;
    font-size: 2rem;
  }
  & p {
    font-family: styles.$fontContent;
    color: styles.$colorDark;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include styles.xs {
    display: none;
    // height: stretch;
    // width: auto;
    // padding: 1rem;
    // opacity: 0;
    // background-color: transparentize(styles.$colorLight, .02);
    // position: absolute;
    // top: 0;
    // left: 0;
    // transition: all 400ms ease-out;
    // &:hover {
    //   opacity: 1;
    // }
  }
  @include styles.sm {
    margin-right: auto;
    justify-content: flex-end;
    & * {
      margin-top: 1rem;
    }
  }
  @include styles.md {
    justify-content: space-between;
    & * {
      margin-top: 0;
    }
    height: stretch;
    width: auto;
    opacity: 0;
    background-color: transparentize(styles.$colorLight, .02);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    transition: all 400ms ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

.media-list {
  font-family: styles.$fontFancy;
  color: styles.$colorDark;
  width: 100%;
  & li {
    // width: 25%;
    font-family: styles.$fontContent;
    margin: 0;
  }
}

.card-links {
  display: flex;
  justify-content: flex-start;
}

.card-link {
  color: styles.$colorDark;
  font-family: styles.$fontFancy;
  padding: .75rem 1rem;
  background-color: styles.$colorMLight;
  border-radius: .5rem;
  margin-right: auto;
}
