@import '../../styles/partials/colors';
@import '../../styles/partials/screens';

// .dd-trigger {
//   padding: .5rem;
//   background-color: lightgrey;
//   color: black;
//   text-decoration: none;
//   // &:link {}
//   // &:visited {}
//   @include xs {
//     &:focus {
//       + .dd-menu li {
//         display: block;
//       }
//     }
//   }
//   @include sm {
//     &:hover {
//       background-color: black;
//       color: lightgrey;
//       + .dd-menu li {
//         display: block;
//       }
//     }
//   }
// }

// .dd-menu {
//   li {
//     display: none;
//     opacity: 0;
//     width: auto;
//     margin-right: auto;
//   }
//   @for $num from 1 through 3 {
//     .dd#{$num} {
//       transform-origin: top center;
//       animation: slideDown 150ms ($num * 50ms) ease-in-out forwards;
//       background-color: red;
//     }
//   }
// }

// @keyframes slideDown {
//   0% {
//     opacity: 0;
//     transform: translateY(-60px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0px);
//   }
// }

#burger {
  // background-color: $colorLight;
  color: $colorMid;
  padding: .75rem;
  &:hover {
    // background-color: $colorMLight;
    color: $colorDark;
  }
  @include xs {
    display: none;
  }
}

#menuSection {
  position: relative;
  display: inline-block;
  align-self: flex-end;
}

#menuSection:hover {
  #menuContent {
    display: flex;
  }
}

#menuContent {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  // li {
  //   display: flex;
  //   // display: block;
  //   justify-content: flex-end;
  //   text-align: right;
  //   padding: .25rem;
  //   &:hover {
  //     background-color: $colorLight;
  //   }
  // }
  @include xs {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: $colorLight;
  }
  @include sm {
    margin-right: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
  }
}

.menuItem {
  display: flex;
  @include xs {
    width: 33%;
    justify-content: center;
    padding: .5rem 0;
    &:hover {
      background-color: $colorMLight;
    }
  }
  @include sm {
    width: 100%;
    justify-content: flex-end;
    padding: 0.25rem;
    &:hover {
      background-color: $colorLight;
    }
  }
}

.menuLink {
  text-decoration: none;
  color: $colorMDark;
  // &:link {}
  // &:visited {}
  &:hover {
    color: $colorDark;
  }
  // &:active {}
}



@for $num from 1 through 3 {
  .link#{$num} {
    transform-origin: top center;
    animation: slideDown 150ms (50ms * $num) ease-in-out forwards;
  }
}

@keyframes slideDown {
  0% {
    opcaity: 0;
    transform: translateY(-60px);
  }
  90% {
    opcaity: 1;
    transform: translateY(10px);
  }
  100% {
    opcaity: 1;
    transform: translateY(0px);
  }
}