/* bubblegum */
$color1: #ff0081;
$color2: #ff48a5;
$color3: #ff77bc;
$color4: #ffaed7;
$color5: #ffcae5;

/* discord pinks */
$colorA1: #fcb2c5;
$colorA2: #fcb9ca;
$colorA3: #fcc1d0;
$colorA4: #ffd1dc;
$colorA5: #fbc7ff;

// night sky
$nightBlue: #203060;
$nightLilac: #584880;
$nightPurple: #885090;
$nightPink: #f880b0;
$nightLight: #f8c0d8;

$colorDark: $nightBlue;
$colorMDark: $nightLilac;
$colorMid: $nightPurple;
$colorMLight: $nightPink;
$colorLight: $nightLight;