@use '../../styles/main.scss' as styles;

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-close {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  color: styles.$colorLight;
  font-size: 2rem;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 3px black);
  z-index: 10;
}

.modal-main {
  position: fixed;
  background: styles.$colorLight;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // margin: 0 1rem 1rem 1rem;
  // box-sizing: border-box;
  // padding-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1px 2px rgba(255,255,255,0.3);
  @include styles.xs {
    width: calc(100% - 2rem);
    // position: relative;
    // display: block;
    // overflow: hidden;
    // &:hover {
    //   .cardText {
    //     display: flex;
    //   }
    // }
  }
  @include styles.sm {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  @include styles.md {
    position: relative;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    overflow: hidden;
    // width: 40%;
    width: calc(50% - 4.5rem);
    margin: 0 0 1rem 0;
    &:hover {
      .cardText {
        display: flex;
      }
    }
  }
}

.modal-header {
  background: styles.$colorMid;
  border-radius: 1rem 1rem 0 0;
  & h3 {
    margin: 0;
    padding: 1rem;
    color: styles.$colorLight;
    text-shadow: 0 0 1px black;
    text-align: center;
  }
}

.modal-content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & p{
    padding: 0;
    margin: 0;
    font-family: styles.$fontContent;
    line-height: 1.5;
    color: styles.$colorDark;
  }
}

.modal-media-list {
  font-family: styles.$fontFancy;
  font-size: 1.25rem;
  color: styles.$colorDark;
  width: fit-content;
  margin: 1rem 0;
  padding: 0;
  & li {
    // width: 25%;
    font-family: styles.$fontContent;
    font-size: 1rem;
    margin: 0;
    list-style-type: none;
    text-align: center;
    width: auto;
    line-height: 1.5;
  }
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal-link {
  color: styles.$colorDark;
  font-family: styles.$fontFancy;
  padding: 0.75rem 1rem;
  // background-color: styles.$colorMLight;
  border-radius: 0.5rem;
  // margin-right: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
}
