/* dropdown menu animation */
/* https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
@import '../../styles/main.scss';
@import '../../styles/partials/colors';
@import '../../styles/partials/screens';
@import '../../styles/partials/fonts';

#meTitle {
  display: flex;
  align-items: center;
  font-family: $fontFancy;
  font-size: 3rem;
  color: $colorMid;
}

#pageHead {
  background-color: $colorLight;
  display: flex;
  align-items: center;
  @include xs {
    flex-direction: column;
  }
  @include sm {
    justify-content: space-between;
  }
}

#logo {
  width: 3rem;
  height: 3rem;
  margin: .5rem;
  border-radius: 50%;
  animation-name: logoAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes logoAnimation {
  0% {
    background: $colorDark;
  }
  25% {
    background: $colorMDark;
  }
  50% {
    background: $colorMid;
  }
  75% {
    background: $colorMLight;
  }
  100% {
    background: $colorLight;
  }
}