/* dropdown menu animation */
/* https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
@import '../../styles/main.scss';
@import '../../styles/partials/colors';
@import '../../styles/partials/screens';
@import '../../styles/partials/fonts';

#meTitle {
  display: flex;
  align-items: center;
  font-family: $fontFancy;
  font-size: 3rem;
  color: $colorMid;
  padding: 1rem;
  @include xs {
    flex-direction: column;
  }
  @include sm {
    flex-direction: row;
  }
}

#icon {
  @include xs {
    padding-bottom: .25rem;
  }
  @include sm {
    padding-right: 1rem;
  }
}

#pageHead {
  background-color: $colorLight;
  display: flex;
  align-items: center;
  @include xs {
    flex-direction: column;
    justify-content: center;
  }
  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }
}

