@use '../../styles/main' as styles;

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  @include styles.xs {
    flex-direction: column;
    position: absolute;
    top: -226px;
  }
  @include styles.sm {
    position: fixed;
    top: 0;
  }
}

.links-list {
  display: inline-flex;
  // padding: .75rem;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 0 0 0.75rem 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  // width: auto;
  // margin-right: auto;
  // margin-left: auto;
  @include styles.xs {
    flex-direction: column;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  @include styles.sm {
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
  }
}

.list-item {
  padding: 1rem;
  text-shadow: 0 0 1px white;
  // position: relative;
  // overflow: hidden;
  // display: inline-block;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: -200%;
  //   width: 200%;
  //   height: 150%;
  //   opacity: 0;
  //   // transform: rotate(30deg);
  //   background: rgba(255, 255, 255, 0.13);
  //   background: linear-gradient(
  //     to right,
  //     rgba(255, 255, 255, 0.13) 0%,
  //     rgba(255, 255, 255, 0.13) 77%,
  //     rgba(255, 255, 255, 0.5) 92%,
  //     rgba(255, 255, 255, 0.0) 100%
  //   );
  // }
  // &:hover:after {
  //   opacity: 1;
  //   top: -30%;
  //   left: -30%;
  //   transition-property: left, top, opacity;
  //   transition-duration: 0.7s, 0.7s, 0.15s;
  //   transition-timing-function: ease;
  // }
  // &:active:after {
  //   opacity: 0;
  // }
}

.navbar-link {
  font-family: styles.$fontFancy;
  color: styles.$colorDark;
  font-size: 1.5rem;
  &:hover {
    color: styles.$colorMid;
  }
}

#dd-menu {
  @include styles.xs {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem 0.5rem 1rem;
    font-size: 2rem;
    background-color: white;
    // background: rgba(255, 255, 255, 0.4);
    // backdrop-filter: blur(10px);
    border-radius: 0 0 0.75rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  @include styles.sm {
    display: none;
  }
}