@import '../../styles/partials/colors';

#pageFoot {
  width: 100%;
  height: 2rem;
  background-color: $colorLight;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pageFootContent {
  color: $colorDark;
  padding: .5rem;
}