@import '../../styles/main';

#pageFoot {
  display: flex;
  height: 2rem;
  background-color: $colorLight;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

#pageFootContent {
  color: $colorDark;
  font-family: $fontContent;
  padding: .5rem;
  text-decoration: none;
}