@import "../../styles/main";

p, a {
  font-family: $fontContent;
  color: $colorDark;
}

a {
  text-decoration: none;
}

#aboutMe {
  display: flex;
  margin: 1rem;
  @include xs {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  @include sm {
    flex-direction: row;
    margin: 2rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}

#graphic {
  @include sm {
    margin-right: 2rem;
  }
}

#profPic {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  @include sm {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

#location {
  font-size: 1.5rem;
  color: $colorMDark;
  padding-bottom: 1rem;
  text-align: center;
  font-family: $fontFancy;
}

#metails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & p {
    font-size: 1.25rem;
  }
  @include md {
    max-width: calc(100% - 22rem);
    height: fit-content;
  }
}

.introP {
  line-height: 1.25;
}

.profLink {
  // margin: .25rem .5rem;
  font-family: $fontFancy;
  @include xs {
    font-size: 1.5rem;
  }
  @include sm {
    font-size: 2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 0 1.5rem;
  }
  @include md {
    display: flex;
    flex-direction: row;
  }
  &:hover {
    color: $colorMid;
  }
}

.icon {
  padding-right: 0.5rem;
}

#download {
  @include xs {
    font-size: 1.25rem;
  }
}

#username {
  font-family: $fontFancy;
}

#skills {
  padding: 1rem 0;
  @include sm {
  }
}

#skillsHeader {
  font-family: $fontFancy;
  color: $colorDark;
  padding-bottom: 1rem;
  text-align: center;
  @include xs {
    font-size: 1.5rem;
  }
  @include sm {
    font-size: 2rem;
  }
}

#technologies {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.techItem {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include xs {
    padding: 0.25rem 0.5rem;
    width: 40%;
  }
  @include sm {
    padding: 0.5rem 0.5rem;
    width: 18%;
  }
}

.techIcon {
  color: $colorDark;
  font-size: 2rem;
}

#whereFind {
  width: 100%;
  margin: 0 auto;
}

.meLinks {
  display: flex;
  @include xs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
  }
  @include sm {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // margin-top: 1rem;
    margin: 0;
    width: 100%;
  }
}

#linkHead {
  font-family: $fontFancy;
  color: $colorDark;
  padding-bottom: 1rem;
  text-align: center;
  @include xs {
    display: none;
  }
  @include sm {
    font-size: 2rem;
  }
}

.meLinksItem {
  padding: 0.25rem;
}
